<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
    <title>eV</title>
    <link rel="apple-touch-icon" sizes="57x57" href="../media/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../media/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../media/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../media/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../media/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../media/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../media/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../media/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../media/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../media/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../media/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../media/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../media/icons/favicon-16x16.png">
    <link rel="manifest" href="../media/icons/manifest.json">
    <link rel='stylesheet' type='text/css' href='../css/avionics.css' />
    <script src='../js/jquery-3.2.1.min.js'></script>
    <script src='../js/socket.io.js'></script>
    <script src="../js/avionics.js"></script>
</head>
<body>
    <div id='launch-application-page' class='entry-layer overlay'>
        <div id='instructions'>
            tap anywhere
            <div id='logo'></div>
            to fly eV
        </div>
    </div>
    <div id='main-app-container' class='viewer-layer'>
        <h2 class='title-header'>eV</h2>
        <h4 class='title-subheader'>v. 0.3.1</h4>
        
        <video id='drone-main-video-stream' class='hd-video-stream'></video>
    </div>
</body>
</html>